@page
@model ShopUI.Pages.CartModel
@{
}

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            @foreach (var product in Model.Cart)
            {
                <div class="level" id="product-@product.StockId">
                    <div class="level-item">
                        <figure class="image is-128x128">
                            <img src="~/images/item.jpg" />
                        </figure>
                    </div>

                    <div class="level-item">
                        <p class="title">
                            @product.Name
                        </p>
                    </div>
                    <div class="level-item">
                        <div class="columns is-gapless has-text-centered is-mobile is-multiline">
                            <div class="column is-4">
                                <button class="button" type="button" onclick="removeOneFromCart(event)" data-stock-id="@product.StockId"> - </button>
                            </div>
                            <div class="column align-self-center" id="stock-@product.StockId">
                                @product.Qty
                            </div>
                            <div class="column is-4">
                                <button class="button" type="button" onclick="addOneToCart(event)" data-stock-id="@product.StockId"> + </button>
                            </div>
                            <div class="column is-12">
                                <a class="has-text-danger" onclick="removeAllFromCart(event)" data-stock-id="@product.StockId">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="level-item">
                        <p>@product.Value</p>
                    </div>
                </div>
            }

        <div class="has-text-right">
            <a asp-page="/Index" class="button is-text">Resume Shopping</a>
            <a asp-page="/Checkout/Payment" class="button is-success">Checkout</a>
        </div>
        </div>
    </div>

</div>

<vc:cart view="Small"></vc:cart>

@section scripts {
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var addOneToCart = function (e) {
            console.log(e);
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/AddOne/" + stockId)
                .then(res => {
                    //UPDATE QTY
                    var id = "stock-" + stockId;
                    var el = document.getElementById(id);
                    var qty = parseInt(el.innerText);
                    el.innerText = (qty + 1);
                })
                .catch(err => {
                    alert(err.error);
                });
        }

        var removeOneFromCart = function (e) {
            console.log(e);
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/RemoveOne/" + stockId)
                .then(res => {
                    //UPDATE QTY
                    var id = "stock-" + stockId;
                    var el = document.getElementById(id);
                    var qty = parseInt(el.innerText);
                    el.innerText = (qty - 1);
                })
                .catch(err => {
                    alert(err.error);
                });
        }

        var removeAllFromCart = function (e) {
            console.log(e);
            var stockId = e.target.dataset.stockId;
            axios.post("/Cart/RemoveAll/" + stockId)
                .then(res => {
                    //UPDATE QTY
                    var id = "product-" + stockId;
                    var el = document.getElementById(id);
                    el.outerHTML = "";
                })
                .catch(err => {
                    alert(err.error);
                });
        }
    </script>
}